.searching{
    min-height: 100vh;
    height: fit-content;
    background-color: var(--prim);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  
.searching__body {
    position: absolute;
    background-color: var(--prim);
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    max-width: 1200px;
    padding-right: 40vw;
    padding-left: 40vw;
    p{
      align-self: center;
    }
}