.analytics{
    background-color: var(--sec);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 50vw;
    
    .private__line{
        display: flex;
    }
    .analytics__contents{
        display: flex;
        .analytics__content{
            display: flex;
            padding-right: 1.5rem;
        }
    }
}