.app{
    min-height: 100vh;
    height: fit-content;
    background-color: var(--prim);
    // background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    .profile{
        margin-top: 5rem;
        position: absolute; 
        color: var(--text);
        display: flex;
        min-height: 100vh;
        width: 100%;
        background-color: var(--prim);
        flex-direction: column;
        align-items: center;
    }
}
