
.header {
  background-color: var(--sec);  
  position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid var(--prim);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 2;
  }
  .header__outer{
    width: 100%;
    .header__left {
      display: flex;
      img {
          object-fit: contain;
          height: 40px;
          margin-right: 10px;
        }
    }
    
    .header__search {
      padding: 10px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      height: 22px;
      color: var(--border);
      background-color: var(--prim);
      
      input {
          color: var(--text);
          outline: none;
          border: none;
          background: none;
        }
    }
  
    .dropdown{
      position: relative;
      margin-top: 4.5rem;
      z-index: 20;
      float: right;
      padding-right: 15vw;
      background-color: none;
    }
    .invisibleDropdown{
      display: none;
    }
    button{
      height: 2rem;
      border-radius: 20px;
  }
  }

  

  